<a href="https://colab.research.google.com/github/pankajkumaryadav-ai-ds/AI-DS-LAB/blob/main/lab_week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.DataFrame(np.random.randn(40).reshape(10,4),columns=["One","Two","Three","Four"])
data

        One       Two     Three      Four
0 -1.102022  1.150235  1.075108 -0.590620
1 -0.063591  0.345562 -0.304693 -1.285655
2  1.108752  0.707523  0.193096 -1.581452
3  0.242173  1.103645 -1.798514  0.267359
4  2.059269 -0.102923 -0.362501  1.001361
5 -0.564298  0.685329  2.288299  1.912843
6 -1.105856  1.842235  0.163917  0.655593
7 -0.493215 -0.421285  0.022340  1.262457
8 -0.323677 -1.201577  0.633764 -0.457975
9 -0.112651  2.330598  1.155226  1.011159

In [5]:
s=pd.Series(np.arange(1,11))
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
d1=pd.concat([s,data],axis=1)
d1

    0       One       Two     Three      Four
0   1 -1.102022  1.150235  1.075108 -0.590620
1   2 -0.063591  0.345562 -0.304693 -1.285655
2   3  1.108752  0.707523  0.193096 -1.581452
3   4  0.242173  1.103645 -1.798514  0.267359
4   5  2.059269 -0.102923 -0.362501  1.001361
5   6 -0.564298  0.685329  2.288299  1.912843
6   7 -1.105856  1.842235  0.163917  0.655593
7   8 -0.493215 -0.421285  0.022340  1.262457
8   9 -0.323677 -1.201577  0.633764 -0.457975
9  10 -0.112651  2.330598  1.155226  1.011159

In [10]:
data[data<0]

        One       Two     Three      Four
0 -1.102022       NaN       NaN -0.590620
1 -0.063591       NaN -0.304693 -1.285655
2       NaN       NaN       NaN -1.581452
3       NaN       NaN -1.798514       NaN
4       NaN -0.102923 -0.362501       NaN
5 -0.564298       NaN       NaN       NaN
6 -1.105856       NaN       NaN       NaN
7 -0.493215 -0.421285       NaN       NaN
8 -0.323677 -1.201577       NaN -0.457975
9 -0.112651       NaN       NaN       NaN

In [13]:
data["Total"]=data["One"]+data["Two"]+data["Three"]+data["Four"]
data["Total"]

0    0.532701
1   -1.308378
2    0.427920
3   -0.185337
4    2.595206
5    4.322173
6    1.555889
7    0.370297
8   -1.349464
9    4.384332
Name: Total, dtype: float64